<section class="hom py-16">
    <div class="container mx-auto flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-lg"><em>Are you Hungry?</em></h6>
            <h1 class="text-6xl font-bold">JuSt FoR U!!! </h1>
            <button class=" order px-6 py-2 ">ORDER NOW</button>
        </div>
        <div class="w-1/2">
            <img src="/img/restaurent.png">
        </div>
    </div>

</section>
<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">Menu</h1>
    <div class="grid grid-cols-4 justify-between col-gap-12 row-gap-12">
        <% resta.forEach(function(resta){ %>
            <div class="w-64">
                <img class="h-40 mb-4 mx-auto" src="/img/<%=resta.image %>">
                <div class="text-center">
                    <h1 class="mb-4 text-lg"><%=resta.name %></h1>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold">₹105</span>
                        <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                            <span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
              </div>
       <% })%>
        
    </div>
</section>